<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="com.pachiraframework.scheduler.dao.JobDao" >  
	<resultMap id="JobMap" type="Job">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="description" column="description" />
		<result property="cron" column="cron" />
		<result property="type" column="type" />
		<result property="registry" column="registry"/>
		<result property="interfaceName" column="interface_name"/>
		<result property="method" column="method"/>
		<result property="timeout" column="timeout"/>
		<result property="isDeleted" column="is_deleted"/>
		<result property="createdAt" column="created_at" />
		<result property="updatedAt" column="updated_at" />
	</resultMap>
	<sql id="table">job</sql>
	<sql id="columns">
		name,description,cron,type,registry,interface_name,method,timeout,is_deleted,created_at,updated_at</sql>
	<sql id="limit"> limit #{pageRequest.offset},#{pageRequest.size} 	</sql>
	<sql id="orderBy">
		<if test="pageRequest.orders.size() > 0">
			<foreach collection="pageRequest.orders" item="order" open="order by"
				separator="," close=" "> ${order.property} ${order.direction}             
			</foreach>
		</if>
	</sql> 	<!-- 分页查询模版普通信息 -->
	<sql id="findByPageCriteria">
		<if test="pageRequest.name!=null and pageRequest.name !=''">
			and `name` like CONCAT('%',#{pageRequest.name},'%' ) 		
		</if>
		<if test="pageRequest.status!=null and pageRequest.status !=''"> 			
			<![CDATA[ 			
				and status = (#{pageRequest.status}) 			
			]]>
		</if>
	</sql>
	<select id="findListBySqlCommand" parameterType="SqlQueryCommand" resultMap="JobMap">
		select id,<include refid="columns"/> 
		from <include refid="table"/>
		where 1=1
		and is_deleted=0
        <foreach item="k" index="key" collection="where" >
           ${k.andOr} ${k.column} ${k.operator} #{k.value}  
        </foreach>
        <foreach item="k" index="key" collection="orders" separator="," open=" order by ">
        	${k.column} ${k.order}
        </foreach>
        <if test="limit!=null">
        	limit #{limit.offset},#{limit.size}
        </if>
	</select>
	<update id="updateBySqlCommand" parameterType="SqlUpdateCommand">
		update <include refid="table"/>
		set updated_at = now(),
        <foreach item="k" index="key" collection="columnValues" separator=",">
            ${k.column} = #{k.value}
        </foreach>
        where 1=1
        <foreach item="k" index="key" collection="where" >
           ${k.andOr} ${k.column} ${k.operator} #{k.value}    
        </foreach>
        <if test="limit!=null">
        	limit #{limit.offset},#{limit.size}
        </if>        
	</update>
	<select id="findByPage" parameterType="PageRequest" resultMap="JobMap">
		select id,
		<include refid="columns" />
		from
		<include refid="table" />
		where 1=1
		and is_deleted=0
		<include refid="findByPageCriteria" />
		<include refid="orderBy" />
		<include refid="limit" />
	</select>
	<select id="findByPageCount" parameterType="PageRequest"
		resultType="int">
		select count(*) from
		<include refid="table" />
		where 1=1
		and is_deleted=0
		<include refid="findByPageCriteria" />
	</select>
	<insert id="insert" parameterType="Job" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO <include refid="table"/>(<include refid="columns"/>)
		VALUES(
			#{name},
			#{description},
			#{cron},
			#{type},
			#{registry},
			#{interfaceName},
			#{method},
			#{timeout},
			#{isDeleted},
			now(),
			now()	)
	</insert>
</mapper>